BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 90
Language: Cpp
AlignConsecutiveAssignments: Consecutive
SpaceAfterCStyleCast: true
MaxEmptyLinesToKeep: 2
IndentCaseLabels: false
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: true
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
BreakBeforeBinaryOperators: NonAssignment
AlwaysBreakBeforeMultilineStrings: false
IncludeBlocks: Preserve
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
